[submodule "AEngineApps"]
	path = AEngineApps
	url = https://github.com/aaalllexxx/AEngineApps.git
	branch = main

[submodule "APM"]
	path = APM
	url = https://github.com/aaalllexxx/APM.git
	branch = main

[submodule "sec"]
	path = sec
	url = https://github.com/aaalllexxx/sce.git
	branch = master